<% if @dribbbles.any? %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
     <ul class="list-unstyled">
      <% @dribbbles.each do |dribbble| %>
        <li>
          <a href="<%= dribbble.url %>" target="_blank">
           <div class="card-list boxes">
            <img src="<%= dribbble.image_url %>" class="img-rounded card-list-img">
            <div class="card-list-text">
              <h4><%= dribbble.title %></h4>
              <h5><%= dribbble.description %></h5>
              <h6><%= dribbble.author %></h6>
            </div>
           </div>
          </a>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</div>
</div>
<% else %>
  <p>On a pas trouvé :(</p>
<% end %>



      <!-- div class="card" -->
   
    
